<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Simple Servlet Application</display-name>
  <servlet>
    <servlet-name>Webservlet</servlet-name>
    <servlet-class>servlet.CalWeb</servlet-class>
  </servlet>
  
  
         <servlet-mapping>
        <servlet-name>Webservlet</servlet-name>
       
        <url-pattern>/per</url-pattern>        
    </servlet-mapping>
    
         <servlet-mapping>
        <servlet-name>Webservlet</servlet-name>
        <url-pattern>/div</url-pattern>        
    </servlet-mapping>
    
         <servlet-mapping>
        <servlet-name>Webservlet</servlet-name>
        <url-pattern>/mul</url-pattern>
    </servlet-mapping>
    
         <servlet-mapping>
        <servlet-name>Webservlet</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>
        
        <servlet-mapping>
        <servlet-name>Webservlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    
   
</web-app>